* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: url(bg.png);
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.editor {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1em;
    font-family: 'Roboto Mono', monospace;
    border: 0;
    border-right: 1px solid rgb(169, 169, 169);
    resize: none;
}

.preview {
    margin-left: 50%;
    min-height: 100%;
    padding: 0 1em;
    font: Helvetica, Arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
}

.editor, .preview {
    width: 50%;
}